<section id="viewCatalog" class="background-img">


    <!--If there are one or more toys-->
    {{#if toys}}
    <div class="added-toys">
        {{#each toys}}
            {{>toyCatalog}}
        {{/each}}
    </div>

    <!--If there are no toys in catalog yet-->
    {{else}}
    <div class="guest">
        There are no toys found...
    </div>
    {{/if}}
</section>